input[type="file"] {
    opacity: 0; 
    left: 0;
    background: black;
    position: absolute;
    width: 50px;
    height: 100px;
    z-index: 100;
    cursor: pointer;
}
input[type="file"]:hover + .uploadimg{
     background: #959595;
}
#preview {
    width: 100px;
    height: 100px;
    display: inline-block;
    background: white;
    border: 1px solid lightgray;
    opacity: 1;
    overflow: hidden;
    cursor: pointer;
}
#preview:hover >.cover{
    opacity: 1;
}
.cover {
    width: 100px;
    display: block;
    background: url(pngclear.png);
    height: 100px;
    transform: translate(0px,-100px);
    opacity:0;
}

.uploadform{
    width:100%;
    height: 100px;
    background-color: #fcfcfc;
    margin: 10px 0 30px 0;
    
}
.uploadimg {
    position: relative;
    width: 50px;
    float: left;
    height: 100px;
    background: #656565;
    text-align: center;
}
.uploadimg>img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.contain form {
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 700px;
    position: relative;
}
.contain table {
    width: 100%;
    height: 440px;
    overflow-y: auto;
}


.contain table tr {
    border: 0.1px #f1f1f1 solid;
    display: block;
    font-size: 17px;
    line-height: 17px;
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
    background-color: white;
}

.contain table tr td input {
    background: transparent;
    font-size: 20px;
    border: 0;
    color: #191919;
    width: 100%;
    outline: none;
}

label {
    margin: 0;
    padding: 0 10px 0 0;
}


#postcontent {
    height: 400px;
}

#postcontent .box {
    height: 100%;
}

#postcontent .box textarea {
    outline: none;
    font-size: 20px;
    height: 100%;
    width: 100%;
    resize: none;
}
.img_wrap {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.img_wrap img {
    max-width: 100%;
}

.btn-group{
    display: block;
    background-color:white;
    color: black;
    font-size: 16px;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
}
.dropdown-menu a{
    color: black;
    display: block;
}
.dropdown-menu a:hover{
    background: #f1f1f1;
    display: block;
}
.show{
    display: block;
}

table td {
    padding: 0;
    border-bottom: 0;
}

.submit>input{
    cursor: pointer;
    background: #656565;
    font-size: 20px;
    width: 258px;
    height: 50px;
    display: block;
    padding: 5px 10px;
    color: white;
    margin: 0 auto;
}
.submit>input:hover{
    background: #858585;
    
}