<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="mailSender" class = "org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="whghdud17@gmail.com" />
        <property name="password" value="dkdeo6847!" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>

    </bean>

    <bean id="connectionFactory"
          class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
        <constructor-arg value="Client ID" />
        <constructor-arg value="Secret Code" />
    </bean>

    <bean id="oAuth2Parameters"
          class="org.springframework.social.oauth2.OAuth2Parameters">
        <property name="scope" value="email" />
        <property name="redirectUri" value="https://localhost:8443/Path..." />
    </bean>
</beans>