* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

a {
    color: black;
}

button {
    cursor: pointer;
}

.contain {
    display: block;
    box-sizing: content-box;
    width: 100%;
    background: #f6f6f9;
    padding-top: 91px;
}

.main {
    height: 100%;
    width: 700px;
    min-height: 800px;
    position: relative;
    display: table;
    margin: 0 auto;
    background: #f6f6f9;
}

.box {
    display: block;
    width: 100%;
}

.leftside {
    left: 0;
    width: 200px;
    height: 100%;
    position: relative;
    float: left;
    display: table-cell;
    margin: 10px 20px 0;
}

.rightside {
    right: 0;
    width: 200px;
    height: 100%;
    position: absolute;
    background-color: white;
    float: none;
}

.main h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 5px;
    color: black;
}

#content-preview {
    width: 100%;
    overflow: hidden;
    color: darkgray;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#content-title {
    width: 100%;
    overflow: hidden;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#content-info {
    float: right;
    overflow: hidden;
    color: darkgray;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.small {
    float: left;
    margin-right: 5px;
    height: 15px;
    line-height: 15px;
    font-size: 11px;
}

.small p {
    font-size: 11px !important;
}

.big {
    min-width: 1180px;
    width: 100%;
}

.pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 30px;
}
.paging {
    display: flex;
    justify-content: center;
}

.pagination li {
    float: left;
    margin: 0 3px;
}


.btn-group {}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: lightgray;
}

.dropdown-menu a {
    border-radius: 38px;
    font-size: 16px;
    color: black;
    display: block;
    padding: 10px 20px;
    line-height: 15px;
    background-color: #f7f7f7;
    border: 0.5px #e7e7e7 solid;
}

.dropdown-menu a:hover {
    background: #f1f1f1;
    display: block;
}

.show {
    display: block;
}

button#Toggle {
    border-radius: 38px;
    font-size: 16px;
    line-height: 15px;
    background-color: #f7f7f7;
    color: black;
    text-align: left;
    padding: 10px 20px;
}

.width570 {
    width: 570px;
}

.btn-group p {
    color: #777;
    font-size: 11px;
    display: inline-block;
    transform: translateY(-10%);
    float: right;
    vertical-align: middle;
}

.btn-group span.material-icons {
    color: #777;
    display: inline-block;
    float: right;
    vertical-align: middle;
    font-size: 13px;
}

.contain .panel {
    position: relative;
    margin: 0 auto;
    width: 700px;
    display: table-cell;
}

.btnpost {
    background-color: #ccc;
    cursor: pointer;
    border-radius: 45%;
}

.btnpost > span {
    font-size: 15px;
    vertical-align: middle;
    text-align: center;
    color: white;
    padding: 5px;
}

.conwrap {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background-color: white;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.7)
}

.modal-dialog {
    margin: 200px auto;
    width: 400px;
    height: 200px;
    background-color: white;
}

.modal-content {
    padding: 10px;
}

.commodal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.4)
}

.commodal-dialog {
    border:2px solid #b3b3b3;
    border-radius:5px;
    margin: 200px auto;
    margin-top:250px;
    width: 500px;
    background-color: white;
}

.commodal-btn
{
    margin-left:50px;
}
.commodal-content {
    padding: 10px;
}

.commmodal-header {
    width: 100%;
    height: 20px;
    font-size: 20px;
}

h5#exampleModalLabel {
    float: left;

}

.modal-header {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.modal button {

    background: transparent;
}

.modal-body {
    height: 135px;
}

.commodal-body {
    border-radius:20px;
    height: 60px;
    width:500px;
}

.modal form {
    float: left
}

.modal input {
    background: transparent;
}

#imgmodal_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgmodal_content > img {
    max-height: 600px;
    max-width: 1000px;
    width: auto;
}

.leftarrow {
    cursor: pointer;
    margin-right: 20px;
    transition: opacity 0.2s;
}

.leftarrow:hover,
.rightarrow:hover {
    opacity: 0.5;
}

.rightarrow {
    cursor: pointer;
    margin-left: 20px;
    transition: opacity 0.2s;
}

nav#lnb {
    background: white;
}

#aside {
    height: 105px;
    background: #3b8eff;
}

#aside .tit {
    font-weight: 700px;
    font-size: 24px;
    line-height: 105px;
    color: white;
    text-align: center;
}

#aside ul > li.on > a {
    color: black;
    background: white;
}

#aside ul > li > a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px 15px 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
     background: linear-gradient(to bottom, #f4f4f4 10%, white);
    color: gray;

}

#aside ul > li {
    border-top: 1px solid #e6e6e8;
}

#contents {
    vertical-align: top;
    display: table-cell;
    min-width: 900px;
}

.time_hot {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background: #ffffff;
    float: left;
    width:850px;
}

.h3group {
    overflow: hidden;
    margin: -50px -30px -30px;
    padding: 25px;
    border-bottom: 1px solid #e6e6e8;
    background: #ffffff;
}

.h3group .tit {
    float: left;
    font-family: 'NanumSquare';
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #2d2d2d;
}

.h3group .location {
    float: right;
}

.h3group .location .depth {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 50px;
    color: #777777;
}

.h3group .location .this {
    display: block;
    float: left;
    font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    color: #2d2d2d;
}

.h4group {
    overflow: hidden;
    margin: -30px -30px 0;
    padding: 40px 30px 12px;
    border-bottom: 1px solid #e6e6e8;
}

.h4group .tit {
    float: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #2d2d2d;
}

.h4group .period {
    float: right;
    position: relative;
    top: 30px;
    font-size: 12px;
    color: #777777;
}

.rank_board {
    display: inline-block;
    width: 100%;
}

.rank_board .lbox {
    width: 402px;
    float: left;
    position: relative;
    border-top: 3px solid gray;
    border-bottom: 3px solid #f1f1f2;
}

.rank_board dl {
    border: solid #e6e6e8;
    border-width: 0 1px 1px;
}

.rank_board dl dt {
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e8;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: black;
}

.rank_board dl dd ol {
    padding: 7px 20px 8px;
}

.rank_board dl dd ol li:first-child {
    border-top: none;
}

.rank_board dl dd ol li {
    position: relative;
    padding: 0 48px 0 37px;
    border-top: 1px solid #e6e6e8;
}

.rank_board dl dd ol li .rank {
    position: absolute;
    top: 7px;
    left: 0;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.rank_board dl dd ol li .tit {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    font-size: 13px;
    line-height: 39px;
    color: #666666;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.rank_board dl dd ol li .recom {
    position: absolute;
    top: 10px;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: gray;
    font-size: 12px;
    line-height: 19px;
    color: white;
}

.rank_board .rbox {
    width: 402px;
    float: right;
    position: relative;
    border-top: 3px solid gray;
    border-bottom: 3px solid #f1f1f2;
}

.rank_board dl dd ol li .comt {
    position: absolute;
    top: 10px;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: gray;
    font-size: 12px;
    line-height: 19px;
    color: white;
}

.all_post_list {
    margin: 0 0 20px;
    padding: 30px 30px 60px;
    background: #ffffff;
    float: left;
    width:850px;
}

table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.tbl_list table tbody tr td.idx {
    font-size: 12px;
    line-height: 24px;
    color: #777777;
}

.tbl_list table tbody tr td {
    padding: 27px 0 26px;
    border-bottom: 1px solid #e6e6e8;
    vertical-align: top;
}

.cate.c1 {
    background: #fd5064;
    color: #ffffff;
}

.cate {
    transform: translate(-120px,0);
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}


.info .tit {
    overflow: hidden;
    flex: 0 1 auto;
}

.info .tit a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.tbl_list table tbody tr td.obj .util {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}

.tbl_list table tbody tr td.obj .util div:first-child {
    margin: 0;
}

.info .like .val {
    font-weight: 700;
    color: #ff4057;
}

.tbl_list table tbody tr td.obj .util div {
    float: left;
    position: relative;
    margin: 0 0 0 21px;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}


.tbl_list table tbody tr td.etc .nick {
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.tbl_list table tbody tr td.etc .date {
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 20px;
    color: #777777;
}

.info .comt {
    margin: 0 10px 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ff4057;
}

.info .new {
    position: relative;
    top: 3px;
    box-sizing: border-box;
    width: 38px;
    height: 18px;
    border: 1px solid #ff4057;
    background: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ff4057;
    text-align: center;
}

info > div {
    display: inline-block;
}

.info > div:last-child {
    margin: 0 !important;
}

.tbl_list table tbody tr td {
    padding: 27px 0 26px;
    border-bottom: 1px solid #e6e6e8;
    vertical-align: top;
}

table td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

table td a {
    display: block;
    width: 100%;
    height: 100%;
}

.dex {
    border-bottom: 1px solid gray;
}

#searchbtn {
    float: right;
    width: 50px;
    background: #a6a6a6;
    color: white;
    height: 100%;
}

#searchstring {
    height: 100%;
    float: left;
    padding: 0px 10px;
    width: 200px;
    text-align: center;
    background: #f1f1f1;
}

.util {
    font-size: 8pt;
    margin-top: 5px;
    color: gray;
}

.etc {
    padding-left: 80px;
    font-size: 8pt;
    margin-top: 5px;
    color: gray;
}

.nick {
    margin-bottom: 5px;
}

.contents_table_footer {
    width: 100%;
    padding-top:30px;
}

form#search {
    height: 40px;
    float: right;
}
.createpost {
    width: 80px;
    text-align: center;
    display: inline-block;
}



.conhead {
    overflow:hidden;
    margin: -30px -30px 0;
    padding: 30px;
    border-bottom: 1px solid #e6e6e8;
}

.conhead .loc_title {
    font-size: 30px;
    float: left;
    line-height: 35px;
}

.conhead .location {
    float: right;
    line-height: 35px;
    font-size: 12px;
    color: dimgray;
    letter-spacing: -1px;
}


