@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html,
body {
    background: #333 url("https://codepen.io/images/classy_fabric.png");
}
.table_list {
    padding-top: 30px;
}
.tbox .tit {
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 180px;
    height: 20px;
}

.dex {
    width: 200px;
    height: 200px;
    display: inline-table;
    margin-right: 3px;
    margin-bottom: 30px;
    border: none;
}

.tbox {
    padding: 10px;
    margin-top: 2px;
    border: 1px solid #eee;
    display: inline-table;
    width: 180px;
    height: 50px;
}
.imgbox>img{
    height: 200px;
    max-width: 200px;
}
.slides {
    padding: 0;
    width: 100%;
    height: 700px;
    display: block;
    margin: 0 auto 30px auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    height: 700px;
    width:100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 130pt;
    text-align: center;
    line-height: 800px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;
    width:100%;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 255, 0.5);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(100, 100, 255, 0.8);
}

.list_intro {
    overflow: hidden;
    width: 100%;
}

#pic1 .list_intro li {
    float: left;
    width: 300px;
    background: white;
}

#pic2 .list_intro li {
    float: left;
    width: 300px;

    background: skyblue;
    ;
}

#pic3 .list_intro li {
    float: left;
   width: 300px;
    background: pink;
}

@media (max-width: 1200px) .list_intro .link_intro {
    height: 319px;
}

.list_intro li {
    float: left;
    width: 300px;
    height: 319px;
    background: white;
}

.list_intro .link_inside {
    text-align: center;
}

.list_intro .link_inside {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

.list_intro .tit_intro {
    position: relative;
    left: 19px;
    top: 40px;
    font-size: 15px;
    font-family: 'Kakao Light', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', '돋움', dotum, sans-serif;
    color: black;
}

user agent stylesheet strong,
b {
    font-weight: bold;
}

.list_intro .link_inside {
    text-align: center;
}

@media (max-width: 1200px) .list_intro .img_inside,
.list_intro .img_ai {
    width: 320px;
    height: 319px;
}

.list_intro .desc_system {
    left: 0;
    display: block;
    top: 0;
    height: 100%;
    color: #1e1e1e;
    text-align: center;
    background: white;
    padding-top: 100px;
}

.list_intro .desc_system1 {
    left: 0;
    display: block;
    top: 0;
    height: 100%;
    color: #1e1e1e;
    text-align: center;
    background: white;
    padding-top: 100px;
}

.list_intro .desc_system2 {
    left: 0;
    display: block;
    top: 0;
    height: 100%;
    color: #1e1e1e;
    text-align: center;
    background: skyblue;
    padding-top: 100px;
}

.list_intro .desc_system3 {
    left: 0;
    display: block;
    top: 0;
    height: 100%;
    color: #1e1e1e;
    text-align: center;
    background: pink;
    padding-top: 100px;
}

.list_intro .desc_system1 .txt_system {
    height: 319px;
    background: none;
    font-size: 30px;
    line-height: 47px;
    vertical-align: middle;
}

.list_intro .desc_system2 .txt_system {
    height: 319px;
    background: none;
    font-size: 30px;
    line-height: 47px;
    vertical-align: middle;
}

.list_intro .desc_system3 .txt_system {
    height: 319px;
    background: none;
    font-size: 30px;
    line-height: 47px;
    vertical-align: middle;
}

@media (max-width: 1200px) .list_intro .img_inside,
.list_intro .img_ai {
    width: 320px;
    height: 319px;
}
